<!-- src/app/features/movies/pages/my-marathon/my-marathon.component.html -->

<div class="container">
  <h2>🎬 Minhas Maratonas</h2>

  <div class="create-marathon-section">
    <input [(ngModel)]="newMarathonName" placeholder="Nome da nova maratona" class="marathon-input" />
    <button (click)="createMarathon()" class="create-btn">Criar Maratona</button>
  </div>

  <div *ngIf="marathons.length === 0" class="no-marathons-message">
    <p>Nenhuma maratona criada ainda.</p>
  </div>

  <!-- Lista de Maratonas -->
  <div *ngFor="let marathon of marathons" class="marathon-card">
    <div class="marathon-header">
      <h3>{{ marathon.name }}</h3>
      <div class="marathon-actions">
        <!-- Passamos o objeto 'marathon' inteiro para a função -->
        <button (click)="toggleMarathonDetails(marathon)" class="action-btn">
          {{ selectedMarathonId === marathon.id ? 'Ocultar Filmes' : 'Mostrar Filmes' }}
        </button>
        <button (click)="deleteMarathon(marathon.id)" class="delete-btn">Excluir</button>
      </div>
    </div>

    <div *ngIf="selectedMarathonId === marathon.id">
      <div *ngIf="!isLoadingMovies" class="movie-grid">
        <p *ngIf="selectedMarathonMovies.length === 0">Nenhum filme adicionado a esta maratona.</p>
        <div *ngFor="let movie of selectedMarathonMovies" class="movie-item">
      <app-movie-card [movie]="movie"></app-movie-card>
      <button (click)="removeMovie(marathon.id, movie.id)" class="remove-btn">Remover</button>
    </div>

      </div>
    </div>
  </div>
</div>