.container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 50px 24px; 
  background: oklch(36.98% 0.014 302.71);
  color: white;
  min-height: 60vh;
  border-radius: 8px;
}


.create-marathon-section {
  display: flex;
  gap: 10px;
  align-items: center;
}


.action-btn, .delete-btn, .create-btn {
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  color: white;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease;

  &:hover {
    transform: scale(1.05); 
  }
}

.create-btn {
  background-color: #1db954; 
  &:hover {
    background-color: #159d42;
  }
}

.delete-btn {
  background-color: #d93f3f; 
  &:hover {
    background-color: #b82a2a;
  }
}

.action-btn {
  background-color: #4b4b4b;
  &:hover {
    background-color: #5c5c5c;
  }
}

.marathon-card {
  background-color: oklch(63.438% 0.23919 31.847 / 0.723);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border-radius: 8px;
}


.marathon-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.marathon-actions {
  display: flex;
  gap: 10px; 
}


.movie-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}