.movie-detail {
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

.poster img {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.info {
  max-width: 600px;
}

.info h1 {
  margin: 0;
}

.info h2 {
  margin-top: 2rem;
}
